/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* base styles */
 
/* minor third scale */

/* http://www.modularscale.com/?17&px&1.125 */
/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* end normalize.css form styles */

/* 8:9 Major 2nd scale */
/* ===== BASE STYLES ===== */
html {
  font-size: 1.063em; /*17px*/
  line-height:1.20em; /*20.5px  120%*/
  color: #000;
  background: #f5f5f5;
  padding-top: 0;
}

h2 {
  font-size: 1.26em; /*21.516px*/
  line-height: 1.20em; /*25.819px*/
  background: #eb0000;
  border-radius: 0.6em 0.6em 0 0;
  text-align: center;
 /* border-bottom: 0.02em solid #fff;*/
}

li {
  list-style-position: inside;
  list-style-type: none;
  padding: 0.60em;
  padding-left: 0;
  padding-bottom: 0.60em; /* 10.25px, half of the gridline */
  text-decoration: none;
}

nav #iitlogo{
  width: 4.8em;
  height: 4.8em;
  float: left;
  padding-left:0.75em;
}

.menu-icon {
	padding: 10px 20px;
	cursor: pointer;
	float: right;
	/*margin: 6px 6px 0 0; */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;

}

nav a:hover { 
  background: #696969; 
  /* red color in case to keep the red nav #dc143c */
  color: #ff0000; 
}

.navigation {
  line-height:0.2em;
  background-color: #ff0000;
  color: #000;
	height: 100%; /*should it stretch the length of the page? */
	background: #dcdcdc;
  position: absolute;
  width: 50%;
  margin-left: -50%;
}


.inactiveLink #inactiveLink{
  pointer-events: none;
}
.hasjs .navigation{
  margin-left: -50%; 
  transition: margin-left 1s;
}



#menuToggle,
#iitlogo {
  display: none; 
  
}


.has-toolbar .navigation {
  padding-left: 1.2em;
  margin-left: 0%;
  transition: margin-left 1s;
  width: 45%;
}

/*
#menuToggle:checked ~ .navigation { 

  opacity: 1;
  
  transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
}
*/

.has-toolbar #page {
  margin-left: 50%;

}
.has-toolbar body {
  overflow-x: hidden;
}

#student-grades,
#registration-tools,
#undergrad-affairs,
#grad-affairs,
#eventssec,
#numberssec {
  padding: 0.25em;
}
#reglist,
#ugradlist,
#gradlist,
#events,
#numbers {
  padding-left: 0.25em;
}
#current-term {
  padding: 0.25em;
}


#page,
#academics-page {
  transition: margin-left 1s;
  padding: 1.20em 0.75em ;
  padding-bottom:4.8em; /*4x line height */
}
#example-com {
  background-color: #ECF0F1;
}
#events,
#numbers {
  background-color: #e5e5e5;
}


#login {
  padding-top: 3.15em; /*53.79px*/
  text-align: center;
}
#login-page {
  height: 100%;
  background: #CC0000;
  background: -webkit-linear-gradient(#CC0000, #777777);
  background: -moz-linear-gradient(#CC0000, #777777);
  background: linear-gradient(to right bottom, #CC0000, #777777);
  padding: 3em;
}
#login-header {
  font-family: Arial;
}
#Login {
  background-color: #FFF;
  padding: 1.625em; /*26.895px*/
  border-radius: 1em;
  font-size: 1em;
}
.error {
  font-weight: bold;
  padding-bottom: 0.75em;
}
#user-input,
#pswd-input,
#button-input {
  padding-bottom: 0.75em;
}
label,
#show-toggle {
  display: block;
  padding-bottom: 0.5em;
}
#user,
#pswd,
#submit {
  background-color: #ECF0F1;
}
#submit:hover {
  background-color: #CC0000;
  color: #ECF0F1;
}
#top-bar,
#bottom-bar {
  box-sizing: border-box;
  margin-right: 0.75em;
  position: fixed;
  background: #eb0000;
  display: block;
  width: 100%;
  font-size: 1.26em; /*21.516px*/
/*  line-height: 1.20em; /*25.819px*/ 
  text-align: center;
  line-height: 2.4em;
  max-width: 100%
}

#loginbar {
  text-align: center;
  font-size: 2.4em;
}

#bottom-bar {
  bottom: 0;
}

#navigation {
  position: static; 
  top:0;
  padding-top: 3.6em; /*3 * line height 1.2 */
} 

.navigation li,
.navigation li:last-child {
  display: inline-block;
  padding: 0;
  border-bottom: 0.02em solid #fff;
  width:100%;
}


.navigation li a {
  display: block;
  text-decoration: none;
  padding: 1.29em;
  color: #000;
  text-align: center;  
}


.inactiveLink #events,
.inactiveLink #numbers,
.inactiveLink #registration,
.inactiveLink #ugrad,
.inactiveLink #grad {
  pointer-events: auto;
}

#bus-classes,
#itmd-classes,
#itmo-classes,
#itms-classes,
#psy-classes,
#socio-classes {
  visibility: hidden;
  position: absolute;
}

#bus-classes.bus-select,
#itmd-classes.itmd-select,
#itmo-classes.itmo-select,
#itms-classes.itms-select,
#psy-classes.psy-select,
#socio-classes.socio-select {
  visibility: visible;
}

#list-classes {
  margin-top: 0.79em;
}

img,
video{
  display: block;
  max-width: 100%;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
}

/*
#itmd2{
  display: none;
}
*/


/* ===== LAYOUT STYLES ===== */
#itmd36102-section,
#itmd36101-section,
#itmd361-sections-table,
#itmd411-sections,
#itms443-sections,
#itms555-sections,
#grades,
#events,
#numbers,
#registration,
#ugrad,
#grad {
  border: solid #696969;
  border-radius: 0 0 0.6em 0.6em;
}

#iit {
  padding-bottom: 1.20em;
  padding-top: 1.20em;
}

#logout{
  padding-top: 3.0em;
}

#grade-head{
  background: #cecfd5;
}

#semester-select{
  text-align:center;
}

#sections-form,
#itmd361-sections {
  display: none;
}

#361sections-head{
  background: #cecfd5;
}
  

/* ===== MODULAR STYLES ===== */


/* ===== STATE STYLES ===== */
/* 558 @ 16px/ 28.625em */
@media screen and (min-width: 28.625em) {
  table {
    border-collapse: collapse;
  }
  
  th,
  td {
    border-bottom: 0.0625em solid #cecfd5;
    padding: 0.624em 0.938em;
  }

  tfoot tr:last-child td {
    border-bottom: 0;
  }

}

/* 600px @ 16px /37.5em*/
@media screen and (min-width: 37.5em) {
  #itmd361-sections,
  #sections-form{
    display: inline-block;
  }
  #361sections-table{
    display: table-row;
    border: solid #696969;
    border-radius: 0 0 0.6em 0.6em;

  }
  
  #itmd361-sections-table {
  border: solid #696969;
  border-radius: 0 0 0.6em 0.6em;
  }
  

  #test{
    display: none;
  }
  
  #36101-form,
  #36202-section-form {
    display: none;
  }

}

/* 668 @ 16px/ 41.75em */
@media screen and (min-width: 41.75em) {
  #iitlogo{
    display: block;
  }
  .navigation li a {
    display: inline-block;
    padding: 0em 1.29em 0em 1.29em;
    line-height: 1.29em;
  }

  .navigation li,
  .navigation li:last-child {
    display: inline;
    border: 0;
    background-color:#696969;
  }

  .navigation {
    height: 2.7em; 
	  background-color: #eb0000;
  }
  
  .hasjs .navigation {
    margin-left: 0;
    width: 100%;
    left: 0;
    position: static;
    line-height: .4em;
  }
  
  nav li a:hover { 
  background-color: #dc143c; 
  /* red color in case to keep the red nav #dc143c */
  color: #fff; 
}

  .menu-icon {
    display: none; 
  }
  
  .inactiveLink #inactiveLink{
  pointer-events: auto;
  }

}

/* 848px @ 16px/ 53.0em */
@media screen and (min-width: 53.0em) {
  
  #grades-and-reg {
    display: flex;
    flex-direction: row;
  }
  
  #student-grades {
    order: 1;
    width: 50vw;
  }
  #registration-tools {
    order: 2;
    width: 50vw;
  }
}
