/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* base styles */
 
/* minor third scale */

/* http://www.modularscale.com/?17&px&1.125 */
/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* end normalize.css form styles */

/* 8:9 Major 2nd scale */
/* ===== BASE STYLES ===== */
html {
  font-size: 1.063em; /*17px*/
  line-height:1.20em; /*20.5px  120%*/
  color: #000;
  background: #f5f5f5;
/*padding: 0em 0.75em 0.75em 0.75em;*/
}

h2 {
  font-size: 1.26em; /*21.516px*/
  line-height: 1.20em; /*25.819px*/
  background: #ff0000;
 /* border-bottom: 0.02em solid #fff;*/
}

li {
  list-style-position: inside;
  list-style-type: none;
  padding: 0.60em;
  padding-left: 0;
  padding-bottom: 0.60em; /* 10.25px, half of the gridline */
  text-decoration: none;
}

.menu-icon {
	padding: 10px 20px;
	cursor: pointer;
	float: right;
	/*margin: 6px 6px 0 0; */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;

}

nav a:hover { 
  background: #dc143c; 
  color: #ff0000; 
}

.navigation {
  line-height:0.2em;
  position:static;
  background-color: #ff0000;
  color: #000;
	height: 100%; /*should it stretch the length of the page? */
	background: #ff0000;
  position: absolute;
}


.hasjs .navigation {
  transition: none; /* No transition on load or tool close */
  opacity: 0;
  position: absolute;
  left: -50%; 
  margin-left: 0.75em;
}



#menuToggle {
  display: none; 
}


.has-toolbar .navigation {
  opacity: 1;
  padding-left: 1.2em;
  margin-left: 50%;
  transition: margin-left 1s;
  width: 45%;
}

/*
#menuToggle:checked ~ .navigation { 

  opacity: 1;
  
  transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
}
*/

.has-toolbar #page {
  margin-left: 50%;
  transition: margin-left 1s;
}
.has-toolbar body {
  overflow-x: hidden;
}

#page {
  padding: 0.75em 0.75em 3.75em 0.75em; /* bottom needs more padding to overcome footer */
  transition: margin-left 1s;
}
#login {
  padding-top: 3.15em; /*53.79px*/
}
#top-bar,
#bottom-bar {
  position: fixed;
  background: #ff0000;
  display: block;
  width: 100%;
  font-size: 1.26em; /*21.516px*/
  line-height: 1.20em; /*25.819px*/
  text-align: center;
  line-height: 2.4em;
}

#bottom-bar {
  bottom: 0;
}

/*
li:last-child {
  padding: 1.22em;/* 16.5px;
  padding-bottom: 0;
  
}
*/
#navigation {
  position: static; 
  top:0;
  padding-top: 3.6em; /*3 * line height 1.2 */
} 

.navigation li,
.navigation li:last-child {
  display: inline-block;
  padding: 0;
  border-bottom: 0.02em solid #fff;
  width:100%;
}


.navigation li a {
  display: block;
  padding: 1.20em;
  text-decoration: none;
  padding-bottom: 1.20em;
  padding: 1.29em;
  margin-right: -5px;
  color: #000;
  text-align: center;  
}

#events,
#numbers,
#registration,
#ugrad,
#grad {
  border: solid #696969;
}

#iit {
  padding-bottom: 1.20em;
}

#list-classes{
  display:none;
}

.itmd-selected #itmd-classes {
  display: list-item;
}


/*
header {
  background: url(../img/myiitHeader.jpg) #222;
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  position:static;
}
*/
/* ===== LAYOUT STYLES ===== */


/* ===== MODULAR STYLES ===== */


/* ===== STATE STYLES ===== */

/* 660 @ 16px/ 41.25em */
@media screen and (min-width: 41.25em) {
  .navigation li a {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 1.20em;
    padding: 1.29em;
    color: #000;
    text-align: center;  
  }

  .navigation li,
  .navigation li:last-child {
    display:inline;
    padding: 0;
  }

  .navigation {
    line-height:0.2em;
    position:fixed;
    background-color: #ff0000;
    color: #000;
    height: 2.4em; 
	  background: #ff0000;
    border-top: 0.02em solid #fff;
  }
  
  .hasjs .navigation {
    transition: none; /* No transition on load or tool close */
    opacity: 1;
    width: 100%;
    left:0; 
  }

  .menu-icon {
    display: none; 
  }

  img,video {
    display: block;
    max-width: 100%;
  }

}
